@{
    ViewBag.Title:"Welcome";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Leotis Fields Page</title>
</head>
<body>
    <p style="font-size:18px; ">
        Hi @ViewBag.Name;
        @ViewBag.Body;
    </p>
    <p style="font-size:18px;">
        Thanks for signing up to <a href="http://devsone.com"> My site</a>!
    </p>
    <p style="font-size:18px;"><i>Leo</i></p>

</body>
</html>